* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: blanchedalmond;
  height: 120vh;
}

.main-container{
  width: 1000px;
  height: 100%;
  margin: 0 auto;
  padding: 45px 25px;
  background-color: aliceblue;
  text-align: center;
  vertical-align: top;
}

#mainTitle{
  margin-bottom: 20px;
}

ul {
  list-style-type: none;
}

li {
  display: inline-block;
  margin: 10px;
  border: 1px solid black;
  width: 350px;
  overflow: hidden;
}

a {
  color: black;
}

li h2 {
  text-align: left;
  margin-left: 10px;
}